html {
  font-family: 'Hiragino Sans', 'Meiryo', sans-serif;
  font-size: 16px;
}

body {
  overflow: hidden; /* stop overscrolling behaviour */
}

#wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  margin: 0;
  padding: 0;
  border-width: 0;
  box-sizing: border-box;
}

caption {
  font-weight: bold;
}

#result-wrapper {
  overflow: auto;
}

@media screen and (max-width: 652px) {
  #menubox {
    width: 100%;
  }

  #result-wrapper {
    float: left;
    width: 100%;
  }
}

@media screen and (min-width: 653px) {
  #menubox {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 280px;
  }

  #result-wrapper {
    float: right;
    width: calc(100% - 280px);
  }
}

#results {
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

table, tr, td {
  border-spacing: 0;
  padding: 0;
}

input {
  font-size: 1rem;
  padding-block: 0;
  padding-inline: 0;
}

input.longbox {
  width: 10rem;
}

input.shortbox {
  width: 4.5rem;
}

.or {
  font-size: 60%;
}

.remark {
  height: 50%;
  font-size: 50%;
}

.google-wrapper {
  position: relative;
}

.google-wrapper .google {
  font-size: 50%;
  display: block;
  position: absolute;
  bottom: 0;
  right: 8px;
} 

button {
  float: left;
  font-size: 1rem !important;
  background-color: #2196f3;
  border: none;
  border-radius: 10px;
  color: white;
  margin: 2px 0 0;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

button:before {
  -webkit-transition: .4s;
  transition: .4s;
}

button:active {
  background-color: #ccc;
}

/* begin: slide switch */
td .switch {
  vertical-align: middle;
}

.switch {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 15px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 15px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}
/* end: slide switch */

/* begin: clear button */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%232196F3'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  background-size: contain;
  display: none;
  cursor: pointer;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  display: block;
  pointer-events: all;
}
/* end: clear button */

/* Android 7 */
div.google-visualization-table table.google-visualization-table-table thead tr.google-visualization-table-tr-head th.google-visualization-table-th.gradient {
  color: #000 !important;
  background-color: #ccc !important;
  background-image: none !important;
}

div.google-visualization-table table.google-visualization-table-table thead tr.google-visualization-table-tr-head th.google-visualization-table-th.gradient span.google-visualization-table-sortind {
  color: #777 !important;
}
/* end: Android 7 */
